.header {
  width: 100%;
  height: 80px;
  padding: 0 40px;
  background-color: #9cc89d;
  display: flex;
  align-items: center;
}

.h1 {
  margin: 0;
  color: white;
}

.mainContainer {
  width: 100%;
  min-height: calc(100vh - 170px);
  display: flex;
  flex-flow: row;
  justify-content: center;

  padding: 50px 80px;
}

.mainChild {
  height: 100%;
  width: 100px;
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
}

.dashboardNav {
  flex: 0 0 25%;
}

.feed {
  flex: 0 0 50%;
}

.feedItem {
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
}

.feedItemPoster {
  font-weight: bold;
}

.feedItemTime {
  font-size: 10pt;
}

.feedItemButtons {
  display: flex;
  justify-content: space-around;
}

/* .feedItemButtons Button {} */

.feedItemPoster,
.feedItemTime,
.feedItemBody {
  padding: 20px;
}

.members {
  flex: 0 0 25%;
}
